.linear_orange {
  background: linear-gradient(to right, #FEA308 0%, #FF8200 100%);
}

.linear_blue {
  background: linear-gradient(to right, #00C1D3 0%, #04A6B5 100%);
}

/* CSS reset  ------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

img {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  vertical-align: baseline;
  font: inherit;
  font-family: Arial, Microsoft JhengHei;
  font-size: 100%;
  font-size: 16px;
  font-weight: initial;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  line-height: 1.42857143;
  letter-spacing: normal;
  border: 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  outline: none;
}

input, select, button, textarea {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, Microsoft JhengHei;
  white-space: normal;
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
}
input[type=search], select[type=search], button[type=search], textarea[type=search] {
  -webkit-appearance: textfield;
}
input::-ms-clear, select::-ms-clear, button::-ms-clear, textarea::-ms-clear {
  display: none;
}
input::-ms-reveal, select::-ms-reveal, button::-ms-reveal, textarea::-ms-reveal {
  display: none;
}

textarea {
  overflow: auto;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
select::-ms-expand {
  display: none;
}

input[type=date] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-search-decoration {
  display: none;
}